<div class="login-background">
    <div class="login-box">
        <p>Login</p>
        <form>
          <div class="user-box">
            <input required="" name="" type="text">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input required="" name="" type="password">
            <label>Password</label>
          </div>
          <a (click)="toHome()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </a>
        </form>
        <p>Don't have an account? <a (click)="toSignUp()" class="a2">Sign up!</a></p>
      </div>
</div>