<div class="login-background">
    <div class="login-box">
        <p>SignUp</p>
        <form>
          <div class="user-box">
            <input required="" name="" type="text">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input required="" name="" type="password">
            <label>Password</label>
          </div>
          <div class="user-box">
            <input required="" name="" type="password">
            <label>Confirm Password</label>
          </div>
          <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            SignUp
          </a>
        </form>
        <p>Have an account? <a (click)="toLogin()" class="a2"> Login!</a></p>
      </div>
</div>